/* SET UP */
*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

@font-face {
    font-family: VictorMono;
    src: url('@/assets/fonts/VictorMono/Victor Mono Medium Nerd Font Complete.ttf');
}

@font-face {
    font-family: FiraCode;
    src: url('@/assets/fonts/FiraCode/Fira Code Medium Nerd Font Complete.ttf');
}

/* GLOBAL SETTINGS */
body{
    font-family: FiraCode, sans-serif;
    background-color: rgb(22, 23, 24);
    color: #95DEFF;
}

strong{
    font-weight: 100;
}

a{
    color: #95DEFF;
}

h1{
    font-family: VictorMono, sans-serif;
    text-transform: uppercase;
    font-size: 5em;
}

h2{
    font-family: VictorMono, sans-serif;
    text-transform: uppercase;
    font-size: 2.5em;
}

h3{
    font-family: VictorMono, sans-serif;
}

main {
    padding: 5em;
}

/* CONTAINERS */
.pink-italic-container{
    background-color: #750037;
    color: #DC86B9;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); 
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.blue-italic-container{
    color: #95DEFF;
    background-color: #004B6B;
    -webkit-clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%); 
    clip-path: polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
}

.pink-container{
    background-color: #750037;
    color: #DC86B9;
}

.blue-container{
    color: #95DEFF;
    background-color: #004B6B;
}

/* BUTTONS */
/* BLUE BUTTON */
.blue-button{
    background-color: #95DEFF;
    color: #004B6B;
    padding: 0.5rem 2rem;
    text-align: center; 
    border: 1px solid #95DEFF;
    border-radius: 20px;
    transition: all .5s ease-out;
}
.blue-button:hover{
    color: #95DEFF;
    background-color: #004B6B;
    border: 1px dashed #95DEFF;
    border-radius: 0px;
}

/* PINK BUTTON */
.pink-button{
    background-color: #DC86B9;
    color: #750037;
    padding: 0.5rem 2rem;
    text-align: center; 
    border: 1px solid #DC86B9;
    border-radius: 20px;
    transition: all .5s ease-out;
}
.pink-button:hover{
    color: #DC86B9;
    background-color: #750037;
    border: 1px dashed #DC86B9;
    border-radius: 0px;
}

/* MEDIA QUERIES GENERAUX */
@media screen and (max-width: 1300px){
    h1{
        font-size: 3em;
    }
    h2{
        font-size: 2em;
    }
}
@media screen and (max-width: 900px){
    h1{
        font-size: 2.5em;
    }
    p, li, a{
        font-size: 0.8em;
    }
    main {
        padding: 3em;
    }
}
@media screen and (max-width: 500px){
    h1{
        font-size: 2em;
    }
    h2{
        font-size: 1.5em;
    }
    main {
        padding: 1em;
    }
}


